<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>江铃实顺</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/screen.css}"/>
    <script th:src="@{/resources/js/config.js}"></script>
    <script th:src="@{/resources/js/jquery/jquery-1.11.1.min.js}"></script>
    <script th:src="@{/resources/ECharts/echarts.min.js}"></script>
    <script th:src="@{/resources/ECharts/theme/customed.js}"></script>
    <script th:inline="javascript">var screen = /*[[${screen}]]*/ 0;</script>
    <script th:src="@{/resources/js/templates/area2_2.js}"></script>
</head>

<body>
    <div class="bgs">
        <div class="bg"></div>
    </div>
    <div class="title">
        <div class="titlebg">
            <div id="logo"></div>
        </div>
    </div>
    <div class="_body">

        <div class="table-data">
            <h3 class="data-title">发运(离昌)情况</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th rowspan="2">工厂</th>
                    <th colspan="2">人送</th>
                    <th colspan="2">零公里</th>
                    <th colspan="2">铁路</th>
                    <th colspan="2">四位版</th>
                </tr>
                <tr>
                    <th>当月累计</th>
                    <th>当年累计</th>
                    <th>当月累计</th>
                    <th>当年累计</th>
                    <th>当月累计</th>
                    <th>当年累计</th>
                    <th>当月累计</th>
                    <th>当年累计</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>

                </tfoot>

            </table>
        </div>


        <div class="row">
            <div class="col-sm-3">
                <div class="chart-pie" id="pie1"></div>

            </div>
            <div class="col-sm-3">
                <div class="chart-pie" id="pie2"></div>

            </div>
            <div class="col-sm-3">
                <div class="chart-pie" id="pie3"></div>
            </div>

            <div class="col-sm-3">
                <div class="chart-pie" id="pie4"></div>
            </div>

        </div>
        <div th:insert="~{templates :: _nav}"></div>
    </div>
</body>

</html>

