<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>江铃实顺</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}"/>
    <script th:src="@{/resources/js/jquery/jquery-1.11.1.min.js}" ></script>
</head>

<body>

    <div class="container">

        <div class="alert alert-success" role="alert">
            <h1>页面导航</h1>
        </div>
        <div class="alert alert-info" role="alert">
            <h2><a href="/app/view/gps" target="_blank"><span class="glyphicon glyphicon-hand-right"></span> GPS显示</a></h2>
            <h2><a href="/app/view/weather" target="_blank"><span class="glyphicon glyphicon-hand-right"></span> 主要城市天气预报</a></h2>
        </div>
        <div class="alert alert-info" role="alert">
            <h2><a href="/app/view/area2" target="_blank"><span class="glyphicon glyphicon-hand-right"></span> 区域二</a></h2>
            <h2><a href="/app/view/area2_1" target="_blank"><span class="glyphicon glyphicon-hand-right"></span> 区域二 第一屏</a></h2>
            <h2><a href="/app/view/area2_2" target="_blank"><span class="glyphicon glyphicon-hand-right"></span> 区域二 第二屏</a></h2>
        </div>
        <div class="alert alert-info" role="alert">
            <h2><a href="/app/view/area3" target="_blank"><span class="glyphicon glyphicon-hand-right"></span> 区域三</a></h2>
            <h2><a href="/app/view/area3_1" target="_blank"><span class="glyphicon glyphicon-hand-right"></span> 区域三 第一屏</a></h2>
            <h2><a href="/app/view/area3_2" target="_blank"><span class="glyphicon glyphicon-hand-right"></span> 区域三 第二屏</a></h2>
            <h2><a href="/app/view/area3_3" target="_blank"><span class="glyphicon glyphicon-hand-right"></span> 区域三 第三屏</a></h2>
        </div>
        <div class="alert alert-info" role="alert">
            <h2><a href="/app/view/monitor" target="_blank"><span class="glyphicon glyphicon-hand-right"></span> 视频监控</a></h2>
        </div>
</div>
</body>

</html>

